<!DOCTYPE html>
<html>
  <head>
    <title>To-Do List</title>
    <script src="https://unpkg.com/vue"></script>
  </head>

  <body>
    <div id="app">
      <h3>To-Do List</h3>
      <p>Filter: <input v-bind="itemFilter" /></p>
      <ol>
        <li v-for="item in filteredItems">
          <button v-on:click="editItem(item)">Edit</button
          ><button v-on:click="deleteItem(item)">Remove</button>
          {{ item.text }}
        </li>
      </ol>
      <p>
        {{ clearLabel }}<br />
        <input v-model="newItem" /><button v-on:click="addItem">
          Add Item
        </button>
      </p>
      <p>Total Items: {{ itemTotal }}</p>
      <p>Filtered Items: {{ filteredTotal }}</p>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          todos: [
            { text: "Learn JavaScript" },
            { text: "Learn Vue" },
            { text: "Build something awesome" },
          ],
          newItem: "",
          itemFilter: "",
          clearLabel:
            'Use the box below to add new list items, or type "Clear" to clear out the current list.',
        },
        computed: {
          filteredItems: function () {
            if (this.itemFilter !== "") {
              return this.todos.filter(f =>
                f.text.toLowerCase().includes(this.itemFilter.toLowerCase())
              )
            } else return this.todos
          },
          itemTotal: function () {
            return this.todos.length
          },
          filteredTotal: function () {
            return this.filteredItems.length
          },
        },
        watch: {
          newItem: function () {
            if (this.newItem.toLowerCase() === "clear") {
              this.todos.splice(0, this.todos.length)
              this.newItem = ""
              this.clearLabel = "To-do list cleared!"
            }
          },
          todos: function () {
            if (this.todos.length > 0)
              this.clearLabel =
                'Use the box below to add new list items, or type "Clear" to clear out the current list.'
          },
        },
        methods: {
          addItem: function () {
            if (this.newItem != "") app.todos.push({ text: this.newItem })
            this.newItem = ""
          },
          editItem: function (item) {
            // TODO: Include edit
          },
          deleteItem: function (item) {
            this.todos.splice(this.todos.indexOf(item), 1)
          },
        },
      })
    </script>
  </body>
</html>
